/* general roules */
*{
  box-sizing: border-box;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  border-radius: 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/* headre's roules */

header{
  height: 12vh;
  margin: 0 15% 15px;
  padding: 6px;
}

header > img{
  height: 8vh;
  width:auto;
  margin-right: 1px solid lightgray;
}

ul{
  list-style-type: none;
}

li{
  display: inline-block;
}

a{
  color: gray;
  text-decoration: none;
  border-right: 5px;
}
/* end header's roules */




/* main's roules */

section{
  margin: 15px 15% 0;
}

section:first-child{
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-size: cover;
  height: 55vh;
  position: relative;
}

.dark{
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  border-radius: 15px;
  padding: 30% 1% 5%;
  font-style: italic;
}


.dark > h1{
  z-index: 150;
  color: white;
}

.dark > h4{
  z-index: 150;
  color: lightgray;
}

/* section:last-child{
  background-color: blue;
  height: 45vh;
} */


/* intestazione wordpress */
.intestazione{
  margin-bottom: 0;
  height: 70px;
  background-color: lightblue;
}


/* fine intestazione word press */

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.clearfix{
  background-color: blue;
  padding: 0;
  margin-top: 0;
}

.sinistra{
  float: left;
  width: 20%;
  height: 27vh;
  background: lightblue;
  margin-top: 1%;
}

.centro{
  float: left;
  width: 54%;
  height: 27vh;
  background: lightblue;
  margin: 1% 3% 0;
}

.destra{
  float: left;
  width: 20%;
  height: 27vh;
  background: lightblue;
  margin-top: 1%;
}

/* footer's roules */

footer{
  background-color: purple;
  height: 3vh;
  margin: 3px 15%;
}
